<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.austain.mapper.JottingMapper">


    <select id="page" resultType="com.austain.domain.po.Jotting">
        select * from jottings order by create_time desc  -- sort -- 升序，创建时间 -- 倒序
    </select>


    <update id="updateJotting">
        update jottings
        <set>
            <if test="english != null">
                english = #{english},
            </if>
            <if test="chinese != null">
                chinese = #{chinese},
            </if>
            <if test="reviewed != null">
                reviewed = #{reviewed},
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="batchDeleteJotting">
        delete from jottings where id in
        <foreach item="item" index="index" collection="ids" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
</mapper>
